[submodule "libraries/ResqueScheduler"]
	path = libraries/ResqueScheduler
	url = https://github.com/Knodes/php-resque-scheduler.git
[submodule "libraries/Resque"]
	path = libraries/Resque
	url = https://github.com/Knodes/php-resque.git
